@{
    ViewData["Title"] = Model.Product.Id == 0 ? "Create Product" : "Update Product";
}

@model ProductVM

<div class="container mt-4 mb-4">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-center">
            <h2 class="text-primary">
                <i class="bi bi-plus-circle me-2"></i> @(Model.Product.Id == 0 ? "Create Product" : "Update Product")
            </h2>
        </div>
        <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Product.Id" hidden />
                <input asp-for="Product.ImageUrl" hidden />

                <div class="row">
                    <div class="col-12 col-lg-2 mb-3 mb-lg-0">
                        <img src="@Model.Product.ImageUrl" width="100%" alt="picture" class="img-fluid" style="border-radius: 5px; border: 1px solid #bbb9b9" />
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="border p-4">
                            <div asp-validation-summary="All" class="text-bg-danger mb-3" style="font-weight: 500;"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.Title" class="form-control" id="ProductTitle" placeholder="Product Title" style="font-weight: 400;" />
                                <label asp-for="Product.Title" for="ProductTitle" class="text-primary" style="font-weight: 500;">Product Title</label>
                                <span asp-validation-for="Product.Title" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Product.Description" for="ProductDescription" class="form-label text-primary" style="font-weight: 500;">Product Description</label>
                                <textarea asp-for="Product.Description" class="form-control" id="ProductDescription" placeholder="Enter Product Description" style="height: 100px; font-weight: 400; margin-top: 0.5rem;"></textarea>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.ISBN" class="form-control" id="ProductISBN" placeholder="ISBN Number" style="font-weight: 400;" />
                                <label asp-for="Product.ISBN" for="ProductISBN" class="text-primary" style="font-weight: 500;">ISBN Number</label>
                                <span asp-validation-for="Product.ISBN" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.Author" class="form-control" id="ProductAuthor" placeholder="Author Name" style="font-weight: 400;" />
                                <label asp-for="Product.Author" for="ProductAuthor" class="text-primary" style="font-weight: 500;">Author Name</label>
                                <span asp-validation-for="Product.Author" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.ListPrice" type="number" class="form-control" id="ProductListPrice" placeholder=" " min="0.01" step="0.01" style="font-weight: 400;" />
                                <label asp-for="Product.ListPrice" for="ProductListPrice" class="text-primary" style="font-weight: 500;">List Price</label>
                                <span asp-validation-for="Product.ListPrice" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.Price" type="number" class="form-control" id="ProductPrice" placeholder=" " min="0.01" step="0.01" style="font-weight: 400;" />
                                <label asp-for="Product.Price" for="ProductPrice" class="text-primary" style="font-weight: 500;">Price</label>
                                <span asp-validation-for="Product.Price" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.Price50" type="number" class="form-control" id="ProductPrice50" placeholder=" " min="0.01" step="0.01" style="font-weight: 400;" />
                                <label asp-for="Product.Price50" for="ProductPrice50" class="text-primary" style="font-weight: 500;">Price for 50 Units</label>
                                <span asp-validation-for="Product.Price50" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Product.Price100" type="number" class="form-control" id="ProductPrice100" placeholder=" " min="0.01" step="0.01" style="font-weight: 400;" />
                                <label asp-for="Product.Price100" for="ProductPrice100" class="text-primary" style="font-weight: 500;">Price for 100 Units</label>
                                <span asp-validation-for="Product.Price100" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select" id="CategoryId" style="font-weight: 400;">
                                    <option disabled selected value=""></option>
                                </select>
                                <label asp-for="Product.CategoryId" for="CategoryId" class="text-primary" style="font-weight: 500;">Select Category</label>
                                <span asp-validation-for="Product.CategoryId" class="text-danger" style="font-weight: 500;"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="file" name="file" class="form-control" id="ProductImageUrl" placeholder="Select Image" style="font-weight: 400;" />
                                <label asp-for="Product.ImageUrl" for="ProductImageUrl" class="text-primary" style="font-weight: 500;">Select Image</label>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 mb-2 mb-md-0">
                                    <button type="submit" class="btn btn-primary w-100" style="height:50px">@(Model.Product.Id == 0 ? "Create" : "Update")</button>
                                </div>
                                <div class="col-12 col-md-6">
                                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border-2 w-100 d-flex align-items-center justify-content-center" style="height:50px">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste ai mentions tinycomments footnotes mergetags autocorrect typography inlinecss markdown colorpicker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | forecolor backcolor | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}
